body {
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.delete-button {
  color: red;
  font-weight: bold;
}

select, input[type='text'], input[type='password'] {
  font-size: 1em;
  padding: 8px;
  border: 1px solid rgba(1,1,1,0.2);
  border-radius: 5px;
}

select {
  padding: 12px 8px;
}

.button {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid rgba(1,1,1,0.2);
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.field-label {
  display: inline-block;
  width: 200px;
}

.alarming {
  background-color: #550000;
  color: #FFFFFF;
}

.confirming {
  background-color: #005500;
  color: #FFFFFF;
}

.actioning {
  background-color: #005588;
  color: #FFFFFF;
}

.completed {
  text-decoration: line-through;
}

table {
  width: 100%;
  margin: 1em 0em;
}

th, td {
  border-bottom: 1px solid #ddd;
  padding: 15px;
  text-align: left;
}

.action-column {
  width: 2cm;
}

.owner-column {
  width: 5cm;
}

th {
    background-color: #4CAFF0;
    color: white;
}

tr:hover {
  background-color: #f5f5f5
}

tr:nth-child(even) {
  background-color: #f2f2f2
}

input.task-name {
  width: 80%;
}