extends ./layouts/layout

block body
  h3 Add New User
  form#add-new-user-form(action="/users/add", method="POST")
    div
      label.field-label User name
      input#name(type="text", name="name", placeholder="Enter User Name")
    div
      label.field-label Password
      input#password(type="password", placeholder="Password")
    div
      button.button.actioning(type="submit") Save
