extends ./layouts/layout

block body
  h2 Todos
  if todoList
    table
      tr
        th Task
        th.owner-column Owner
        th.action-column Delete
      each todo in todoList
        tr
          td.task
            a.complete-toggle(href="/toggle/#{todo.id}")
              if todo.completed
                span.completed #{todo.task}
              else
                #{todo.task}

          td.owner-column
            if todo.appUser
              a(href="/user/#{todo.appUser.id}")= todo.appUser.name
          td.action-column
            a.delete-button(href="/delete/#{todo.id}") &times;

  form#add-task(action="#", action="/add", method="POST")
    input.task-name(type="text", placeholder="Task name", name="task")
    select(name="appUserId")
      option(value="") Select username
      each appUser in allUsers
        option(value=appUser.id)= appUser.name

    input(type="hidden", name="redirect", value="/")
    button.button.actioning(type="submit") Add Something
