extends ./layouts/layout

block body
  h2 Users
  if userList
    table
      tr
        th Name
        th.action-column Action
      each appUser in userList
        tr
          td.user-name
            a.goto-user-page(href="/user/#{appUser.id}")= appUser.name
          td.action-column
            a.delete-button(href="/user/#{appUser.id}/delete") &times;
  a.add-user-button.button.actioning(href="/users/add") Add New User
