extends ./layouts/layout

block body
  h2
    unless todoList
      No tasks for #{appUser.name}
    else
      Todo Tasks for #{appUser.name}
  if todoList
    table
      tr
        th Task
        th.action-column Delete
      each todo in todoList
        tr
          td.task
            a.complete-toggle(href="/toggle/#{todo.id}")
              if todo.completed
                .completed= todo.task
              else
                = todo.task
          td.action-column
            a.delete-button(href="/delete/#{todo.id}") &times;

  form#user-task-add(action="#", action="/add", method="POST")
    input#task(type="text", placeholder="Task name", name="task")
    input#appUserId(type="hidden", name="appUserId", value=appUser.id)
    input#redirect(type="hidden", name="redirect", value="/user/#{appUser.id}")
    button.button.actioning(type="submit") Add Task
